<!DOCTYPE html>
<html>
<head>
  <title>CupOInk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    tr.warning, tr.danger {
      font-weight: bold;
    }
  </style>
</head>
<body>
<!-- seems we should move this elsewhere -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" style="display:none">
<defs>
  <g id="cartridge">
    <polygon points="37.449,61.704 48.943,54.579 48.943,30.363 53.551,27.505 53.551,2.296 37.449,11.958   "/>
    <rect x="26.455" y="55.5" width="3.818" height="2"/>
    <rect x="15.727" y="55.5" width="3.818" height="2"/>
    <path d="M10.897,61.704h24.538v-49.5H10.897V61.704z M32.273,59.5h-7.818v-6h7.818V59.5z M14.813,17.833h16.708v32.242H14.813
    V17.833z M13.727,53.5h7.818v6h-7.818V53.5z"/>
    <polygon points="27.531,2.25 11.525,10.417 36.07,10.417 50.047,2.25   "/>
  </g>
  <g id="ink">
    <path d="M27.854,31.593c0,0-0.001-0.001-0.001-0.001c-0.124-0.191-0.257-0.375-0.397-0.55c-3.483-4.924-4.6-9.227-4.6-9.227
      s-1.117,4.304-4.6,9.227c-0.14,0.176-0.273,0.359-0.397,0.55c0,0-0.001,0.001-0.001,0.001l0,0
      c-0.775,1.192-1.233,2.671-1.233,4.272c0,3.95,2.79,7.152,6.231,7.152c3.441,0,6.231-3.202,6.231-7.152
      C29.088,34.263,28.629,32.785,27.854,31.593L27.854,31.593z M27.256,38.257c-0.347,1.011-1.959,0.577-1.609-0.443
      c0.647-1.884,0.425-3.637-0.898-5.166c-0.7-0.809,0.475-1.995,1.18-1.18C27.63,33.435,28.103,35.789,27.256,38.257z"/>
  </g>
  <g id="printer">
    <path d="M4,12v3h8v-3v-2H4V12z M5,11h6v1H5V11z M5,13h6v1H5V13z"/>
    <polygon points="12,3 12,0 4,0 4,3 4,5 12,5   "/>
    <path d="M14,3h-1v2v1H3V5V3H2C1,3,0,4,0,5v5c0,1,1,2,2,2h1v-2V9h10v1v2h1c1,0,2-1,2-2V5C16,4,15,3,14,3z"/>
  </g>
  <g id="server">
    <path d="M30,10V2H2v8h2v2H2v8h2v2H2v8h28v-8h-2v-2h2v-8h-2v-2H30z M4,6h4v2H4V6z M4,16h4v2H4V16z M8,28H4v-2h4V28z M26,22H6v-2h20
  V22z M26,12H6v-2h20V12z"/>
  </g>
</defs>
</svg>
<div class="container">
<%= yield %>
</div>

<div class="container" style="margin-top: 2em;">
<footer>Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a></footer>
</div>
</body>
</html>
